{%extends "base.html"%}

{%block content%}




<form action="{% url 'menu' %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Save your Passwords here</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!-- {% for choice in menu.choice_set.all %}
    <input type="text" name="username" id="username{{ forloop.counter }}" value="{{ username.id }}">
    <label for="username{{ forloop.counter }}">{{ username }}</label><br>
    {% endfor %} -->

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd"><br><br>


  </fieldset>
  <input type="submit" value="Submit">
</form>
{%endblock%}