

{% extends "base.html" %}

{% block content %}

<form action="{% url 'menu' %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Save your Passwords here</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <label for="url">URL:</label><br>
    <input type="text" id="url" name="url"><br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd"><br><br>
  </fieldset>
  <input type="submit" value="Submit">
</form>

<!-- Display submitted entries -->
<h2>Submitted Entries:</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>URL</th>
      <th>Password</th>
      <th>Used For</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
      <tr>
        <td>{{ entry.url }}</td>
        <td>{{ entry.username }}</td>
        <td>{{ entry.password }}</td>
        <td>{{ entry.choice_text }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
