@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@500&family=Spectral:ital,wght@0,200;1,200&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Spectral';
}

#password-generator-container {
    background-color: rgb(125, 168, 203);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#password-generator {
    background-color: rgb(40, 47, 66);
    width: 400px;
    box-shadow: 0 4px 10px rgb(7, 12, 26);
    border-radius: 2px;
}

#password-generator .pw-header {
    padding: 1rem;
}

#password-generator .pw {
    border-radius: 2px;
    background-color: rgb(70, 116, 184);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

#password-generator .pw button {
    border-radius: 2px;
    color: rgb(8, 29, 58);
    border: none;
    background-color: white;
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    transform: translate(0, 50%);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#password-generator .pw:hover button {
    opacity: 1;
    transform: translate(0, 20%);
}

#password-generator .pw-body {
    padding: 0 1rem 1rem;
}

#password-generator .form-control {
    justify-content: space-between;
    display: flex;
    margin: 0.75rem 0;
}

#password-generator .generate {
    border-radius: 2px;
    background-color: rgb(196, 30, 30);
    border: none;
    color: rgb(8, 29, 58);
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.5s all ease;
    width: 100%;
}

#password-generator .generate:hover {
    background-color: rgb(241, 69, 69);
}

#password-generator .generate:active {
    background-color: rgb(105, 84, 194);
    transform: scale(0.95);
}

#copy {
    transition: 0.5s;
}

#copy:hover {
    background-color: indianred;
}

#copy:active {
    background-color: indigo;
    transform: scale(0.95);
    color: white;
}
/* Position the back button on the left side of the page */
#back-button-container {
    position: fixed;
    top: 20px;
    left: 20px;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
