<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/passwordgenerator.css' %}">
</head>

<body>

    <div id="password-generator-container">
        <div id="password-generator" class="pw-container">
        <div class="pw-header">
            <div class="pw">
            <span id="pw"></span>    
            <button id="copy">Copy Password</button>
        </div>
        </div>
        <div class="pw-body">
            <div class="form-control">
                <label for="len">Password Length</label>
                <input id="len" value="20" type="number" min="10" max="40">
            </div>

            <div class="form-control">
                <label for="upper">Contain upper case letters</label>
                <input id="upper" type="checkbox" checked>
            </div>

            <div class="form-control">
                <label for="lower">Contain lower case letters</label>
                <input id="lower" type="checkbox" checked>
            </div>

            <div class="form-control">
                <label for="number">Contain numbers </label>
                <input id="number" type="checkbox" checked>
            </div>

            <div class="form-control">
                <label for="symbol">Contain symbols</label>
                <input id="symbol" type="checkbox"checked>
            </div>
            <button class="generate" id="generate">Generate Password </button> 
        </div>
    </div>
    </div>
    <script src="{% static 'js/passwordgenerator.js' %}"></script>
   
</body>
</html>